body {
	background: #140C1C;
	color: #DEEED6;
}

@font-face {
	font-family: 'TIC-80 wide font';
	src: url('/fonts/tic-80-wide-font.ttf');
}

.linenos pre {
	font-family: 'TIC-80 wide font';
	color: #4E4A4F;
}

.codehilite pre {
	font-family: 'TIC-80 wide font';
	direction: ltr;
	align: left;
	width: 40ch;
	display: block;
    margin-left: auto;
    margin-right: auto;
text-shadow: 3px 3px 0px rgba(0,0,0,1);
}


.codehilitetable {
	direction: ltr;
}

.codehilite .n  { color: #DEEED6 } /*  */
.codehilite .p  { color: #8595A1 } /*  */

.codehilite .hll { background-color: #ffffcc }
.codehilite     {
	background: #442434;
	font-family: 'TIC-80 wide font';
	width: 42ch;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 1px;
	padding-bottom: 1px;
}
.codehilite .c  { color: #408080 } /* Comment */
.codehilite .err {  } /* Error */
.codehilite .k  { color: #008000 } /* Keyword */
.codehilite .o  { color: #8595A1 } /* Operator */
.codehilite .ch { color: #408080 } /* Comment.Hashbang */
.codehilite .cm { color: #408080 } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .cpf { color: #408080 } /* Comment.PreprocFile */
.codehilite .c1 { color: #757161} /* Comment.Single */
.codehilite .cs { color: #408080 } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge {  } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080 } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #000080 } /* Generic.Prompt */
.codehilite .gs {  } /* Generic.Strong */
.codehilite .gu { color: #800080 } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008000 } /* Keyword.Constant */
.codehilite .kd { color: #008000 } /* Keyword.Declaration */
.codehilite .kn { color: #008000 } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #D04648 } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m  { color: #666666 } /* Literal.Number */
.codehilite .s  { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #6DAA2C } /* Name.Builtin */
.codehilite .nc { color: #0000FF } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999 } /* Name.Entity */
.codehilite .ne { color: #D2413A } /* Name.Exception */
.codehilite .nf { color: #6DAA2C } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF } /* Name.Namespace */
.codehilite .nt { color: #008000 } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF } /* Operator.Word */
.codehilite .w  { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #666666 } /* Literal.Number.Bin */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #6DC2CA } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilite .sd { color: #BA2121 } /* Literal.String.Doc */
.codehilite .s2 { color: #DAD45E } /* Literal.String.Double */
.codehilite .se { color: #BB6622 } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688 } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0000FF } /* Name.Function.Magic */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .vm { color: #19177C } /* Name.Variable.Magic */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
