<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
		<meta charset="utf-8" />
		<!-- TODO: לסדר את כל העניין של המטה־דאטה ואיך מעבירים אותו בצורה נוחה ואלגנטית -->
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		<script type="text/javascript" src="/js/jss.min.js"></script>
		<script type="text/javascript" src="/js/gender.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/{{ target }}.css" />
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="icon" type="image/png" href="/media/favicon.png" />
		<!-- {# if metadata.title #} {{ metadata.title }} {# endif #} -->
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}: עדכונים עם Atom" />
        {% endif %}

        {% endblock head %}
</head>

<body onload="randomize_gender();">
	<body id="body" class="hidden" body-text="true">
		<header>
			<div class="logo"><img src="media/PICO-8/logo-off.png" alt="פיצי-80"></div>
			{% block header %}
			{% endblock %}
		</header>
		<nav>
			<!-- TODO: דף הבית (רק אייקון), הקדמה, עדכונים, מחשבת, יצירת קשר, פייסבוק+טוויטר+טלגרם (אייקונים)
			-->
		</nav>
		<div id="content">
			<div id="doc">
				{% block content %}
				{% endblock %}
			</div>
		</div>
        <footer>
        </footer>
</body>
</html>
