{% extends "base.html" %}
{% block title %}{{ SITENAME }}{%endblock%}
{% block header %}
<div class="sublogo"><img src="media/PICO-8/sublogo-off.png" alt="ללמוד, לתכנת, ליצור, לשחק, לשנות, לשתף"></div>
{% endblock %}
			

{% block content %}
<section>
	<p>
	שלום, וברוכים הבאים לְ<strong>פִּיצִי-80</strong>. כאן תוכלו ללמוד לתכנת בשפת Lua וליצור בעצמכם משחקים קטנטנים ודברים יפים אחרים.
	הכלים שתִלמדו יוכלו לשמש אתכם גם בתחומים אחרים: תכנות כללי, גישה לפתרון בעיות, מתמטיקה, ציור, תכנון, עיצוב והלחנה.
	הכל מותאם הן לילדות/ים סקרניות/ים והן למבוגרות/ים סקרניות/ים.
	רוצים לדעת עוד על הרקע, המטרה והגישה של <strong>פִּיצִי-80</strong>?
	קראו את <a href="/preface.html">ההקדמה</a>.
	</p>

	<p>
	ב<strong>פִּיצִי-80</strong> תוכלו ללמוד שתי מערכות מאוד דומות ליצירת משחקים:
	<a href="https://www.lexaloffle.com/pico-8.php">PICO-8</a>
	ו־<a href="https://tic.computer/">TIC-80</a>;
	לכל פרק יש גרסה ל־PICO-8 וגרסה ל־TIC-80, והן זהות למעט הבדלים טכניים.
	לא יודעים מה ההבדל בין זו ובין זו ובמה לבחור?
	קראו את <a href="/preface.html">ההקדמה</a>.
	</p>

	<table style="text-align: center; width: 100%">
		<tr>
			<th>
				<img src="media/PICO-8/icon.png" style="width: 3em" /><br />
				PICO-8
			</th>
			<th>
				תוכן עניינים
			</th>
			<th>
				<img src="media/TIC-80/icon.png" style="width: 3em" /><br />
				TIC-80
			</th>
		</tr>
		<tr>
			<td>
				<img src="media/PICO-8/icon.png" style="width: 1em" /><br />
			</td>
			<td>
				טעימה ממה שאנחנו הולכים לעשות
			</td>
			<td>
				<img src="media/TIC-80/icon.png" style="width: 1em" /><br />
			</td>
		</tr>
		<tr>
			<td>
				<img src="media/PICO-8/icon.png" style="width: 1em" /><br />
			</td>
			<td>
				התוכנה הראשונה שלנו
			</td>
			<td>
				<img src="media/TIC-80/icon.png" style="width: 1em" /><br />
			</td>
		</tr>
	</table>
	<!--<p><strong>פיצי-8</strong> היא סדרה של סרטונים בעברית שנועדו ללמד לפתח משחקי־מחשב במערכת חמודה שנקראת <strong>פיקו-8</strong> (<a href="http://pico-8.com/">PICO-8</a>): קונסולת־משחק מינימליסטית שרצה כמחשב בתוך מחשב (יש גרסאות ללינוקס, מק וחלונות). המינימליזם של פיקו-8 מאפשר למי שלומדים לא לטבוע בים של אינפורמציה וכלים אלא להתחיל ללמוד בסביבת־פיתוח מתאימה (אבל אמיתית! התכנות הוא בשפת <a href="https://he.wikipedia.org/wiki/%D7%9C%D7%95%D7%90%D7%94_(%D7%A9%D7%A4%D7%AA_%D7%AA%D7%9B%D7%A0%D7%95%D7%AA)">Lua</a>), ולמי שכבר בקיאים המינימליזם מאפשר להשאר ממוקדים בפיתוח של רעיון קטן ולבנות אותו בצורה יפה ונקיה, ולא להסחף לצדדים ולאבד כיוון.</p>

	<p>אחד הדברים שהכי יפים בפיקו-8 הוא ה<strong>קהילה</strong> שהתגבשה מסביבה, דרך האינטרנט, קהילה חיה של אנשים מכל העולם שיוצרים משחקים, משתפים פעולה, וחולקים את התוצרים עם העולם באופן חופשי. יש המון משחקים, ואפשר אפילו לשחק בהם בדפדפן בלי צורך להתקין שום דבר: <a href="http://www.lexaloffle.com/bbs/?mode=carts&cat=7&sub=2&orderby=rating">הנה</a>. מה שמגניב אפילו יותר הוא שאת כל המשחקים האלה אפשר <strong>לשנות</strong>: יש משהו שהייתם רוצים שיהיה אחר באופן שבו המשחק עובד? לערוך את השלבים או ליצור חדשים? לשנות את הציורים או המוזיקה והצלילים? אפשר לעשות את זה בקלות, ובסרטונים לא רק נלמד מהבסיס לפתח משחקים אלא גם לאורך הדרך נשנה משחקים קיימים. רוצים ללמוד עוד ולקנות את פיקו-8 (כן, לצערי זאת תוכנה בתשלום ובקוד סגור)? בקרו ב<a href="http://pico-8.com/">אתר של פיקו-8</a>.</p>

	<p>אפשר לראות בפיצי-8 מחווה לסדרת החוברות הנהדרת שממנה למדתי לתכנת בתחילת שנות התשעים: <strong>מחשבת</strong>. כדרך ⚙
	-->
</section>


{% endblock %}
